* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;

}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "login content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    margin: 20px;

}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: 0 auto;
    max-width: 420px;
}

.container .header {
    grid-area: header;
    text-align: center;
}





.content-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container .content {
    grid-area: content;
    text-align: center;
}

.container .footer {
    grid-area: footer;
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.btn-consulta {
    background-color: #139940;
    color: #fffffe;
    margin-bottom: 10px;
    border-radius: 8px;
}

.btn-consulta:hover {
    background-color: #09471e;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-acceso {
    background-color: #3da9fc;
    color: #fffffe;
    border-radius: 8px;
}

.btn-acceso:hover {
    background-color: #166099;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/*Estilos recomendados para animaciones para aplicar segun lo necesario no abusar de efectos */
/*

.icono-notificacion:hover {
  transform: scale(1.15);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

  @keyframes entradaSuave {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.elemento {
  animation: entradaSuave 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
  .tarjeta {
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tarjeta:hover {
  transform: translateY(-4px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
}

*/